body{
	background: url("img/fundo.jpg")top center;
	background-size:cover;
	font-family:arial;
}
#conteudo{
	width:700px;
	height:500px;
	
	margin: 0 auto;
}
img{
	width:700px;
	height:230px;
}
header a{
	text-decoration: nome;
	color:blue;
	display: inline-block;
	padding: 15px 25px;
	margin: 10px;
	border: 1px solid;
	border-radius:5px;
	
}
header a:hover{
	background-color:blue;
	color:white;
	box-shadow: 0 3px 2px #777;
}
.botao{
	transition:.5s;
}